.product-card {
    cursor: pointer; // Indica que o card será clicável no futuro
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: translateY(-5px); // Efeito de levantar o card ao passar o mouse
    }
}

.image-placeholder {
    height: 200px;
    width: 100%;
    background-color: #f0f0f0; // Um cinza claro para o fundo
    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
        font-size: 64px;
        color: #ccc; // Ícone de câmera cinza
    }
}

ion-card-title {
    font-size: 1.1rem;
    font-weight: bold;
}

ion-card-subtitle {
    color: var(--ion-color-primary);
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 8px;
}